/* Feuille de style en cascade CSS */

body {
font-family: "Open Sans", sans-serif;
}
.section-titre {
text-align: center;
}

.titre {
font-size: 30px;
background-color: Aqua;
width: 500px;
align-self: center;
margin: 0 auto 10px auto;
border-radius: 50px;
}

.bouton {
background-color: #4CAF50;
border: none;
color: white;
margin-top: 10px;
padding: 5px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.bouton:hover {
cursor: pointer;
}

.container {
  margin: 0 10%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.container > div {
  width: 150px;
  height: 150px;
}

.titre-ville {
font-weight: bold;
}

.temperature {
font-style: italic;
}

.footer {
text-align: center;
margin: 0 auto;
position: fixed;
left: 0;
bottom: 30px;
width: 100%;
}